﻿@font-face {
  font-family: 'WebComponentsIcons';
  src: url("../fonts/WebComponentsIcons/WebComponentsIcons.woff") format("woff"), url("../fonts/WebComponentsIcons/WebComponentsIcons.ttf") format("truetype"), url("../fonts/WebComponentsIcons/WebComponentsIcons.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans"), local("NotoSans"), url("../fonts/noto/notosans-regular.ttf"); }

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url("../fonts/noto/notosans-bold.ttf"); }

@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 400;
  src: local("Noto Sans Italic"), local("NotoSans-Italic"), url("../fonts/noto/notosans-italic.ttf"); }

@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 700;
  src: local("Noto Sans Bold Italic"), local("NotoSans-BoldItalic"), url("../fonts/noto/notosans-bolditalic.ttf"); }

html,
body {
  height: 100%;
  box-sizing: border-box; }

body {
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 61px;
  font: 14px/1.42857143 "Noto Sans", Segoe UI, 'Roboto', Myriad Pro, sans-serif;
  color: #787878;
  overflow: visible; }

input {
  font: inherit; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal; }

p {
  margin: 0; }

.k-tooltip-button {
  display: none; }

body > div:last-child {
  flex: none; }

.image-wrapper {
  overflow: hidden; }

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-width: 1000px;
  color: #fff;
  background-color: #2593e5;
  background-image: linear-gradient(90deg, transparent, #0072c6);
  font-size: 16px; }
  .main-header:after {
    content: "";
    display: block;
    clear: both; }
  .main-header .logo {
    padding: 13px 16px;
    font-size: 24px;
    line-height: 32px;
    font-weight: normal;
    float: left;
    display: flex;
    align-items: center; }
    .main-header .logo:before {
      content: "\e809";
      font-family: WebComponentsIcons;
      font-size: 32px;
      line-height: 1;
      margin-right: 4px;
      vertical-align: middle;
      display: inline-block; }

#mainMenu {
  float: right;
  color: inherit;
  background: transparent;
  border: 0; }
  #mainMenu .k-item {
    border: 0; }
  #mainMenu .k-state-hover .k-link {
    background: rgba(255, 255, 255, 0.2); }
  #mainMenu .k-state-hover,
  #mainMenu .k-state-active,
  #mainMenu .k-state-highlight {
    color: inherit;
    background: transparent; }
  #mainMenu .k-state-focused {
    box-shadow: none; }
  #mainMenu .k-state-highlight:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent #fff; }
  #mainMenu .k-link {
    padding: 20px;
    color: inherit; }
  #mainMenu .image-wrapper {
    display: inline-block;
    height: 36px;
    width: 36px;
    margin: -10px -5px;
    border-radius: 50%; }
    #mainMenu .image-wrapper img {
      width: 120%;
      margin-left: -10%; }

.k-widget.k-tooltip {
  font-size: 12px;
  top: 0; }
  .k-widget.k-tooltip .k-tooltip-content {
    padding-right: 0;
    padding: 0 30px; }
  .k-widget.k-tooltip .image-wrapper {
    width: 100px;
    height: 100px;
    margin: 25px auto 10px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.15); }
    .k-widget.k-tooltip .image-wrapper img {
      width: 102%;
      margin-top: -5%; }
  .k-widget.k-tooltip .k-callout-n {
    top: -9px;
    border-bottom-color: #fff;
    border-width: 0 9px 9px 9px;
    margin-left: -8px; }
  .k-widget.k-tooltip .name {
    font-size: 15px;
    margin: 5px; }
  .k-widget.k-tooltip #signInButton {
    margin: 40px 0;
    padding: 5px 30px;
    white-space: nowrap;
    font-size: 14px;
    background: #1e8edf;
    border-color: #1e8edf; }

.main-content {
  display: flex;
  flex: 1;
  min-height: 100%;
  overflow: auto; }

.main-section {
  flex: 1;
  position: relative;
  background: #fff;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.06); }
  .main-section .tab-content {
    border-bottom: 1px solid #ebebeb; }
    .main-section .tab-content .left {
      float: left; }
    .main-section .tab-content .right {
      float: right; }
    .main-section .tab-content .btn {
      display: inline-block;
      padding: 0.71em 16px;
      line-height: 1.42857;
      height: 1.42857em;
      text-align: center;
      cursor: pointer; }
      .main-section .tab-content .btn.iconOnly {
        width: 1.42857em;
        padding: 0.71em; }
        .main-section .tab-content .btn.iconOnly:before {
          font: 16px WebComponentsIcons;
          display: inline-block; }
        .main-section .tab-content .btn.iconOnly.selected {
          color: #1e8edf; }
      .main-section .tab-content .btn.btn-cards:before {
        content: "\e02a"; }
      .main-section .tab-content .btn.btn-vertical-pane:before {
        content: "\e029";
        transform: rotate(180deg); }
      .main-section .tab-content .btn.btn-horizontal-pane:before {
        content: "\e02c";
        transform: rotate(180deg); }
      .main-section .tab-content .btn:hover {
        background: #ebebeb; }
      .main-section .tab-content .btn:not(.iconOnly):active {
        color: #fff;
        background: #1e8edf; }
    .main-section .tab-content:after {
      content: "";
      display: block;
      clear: both; }

.inner-section {
  display: flex;
  flex-direction: column;
  height: calc(100% - 3em);
  overflow: auto; }

.searchbox {
  display: block;
  width: 100%;
  border-bottom: 1px solid #ebebeb; }
  .searchbox:before {
    content: "\e13e";
    display: inline-block;
    margin: 0 5px 0 16px;
    font: 16px WebComponentsIcons;
    vertical-align: middle; }
  .searchbox .search-textbox {
    width: calc(100% - 55px);
    padding: 6px;
    border: none;
    font-style: italic;
    vertical-align: middle;
    box-sizing: border-box; }
    .searchbox .search-textbox:focus {
      font-style: normal; }

tbody:empty:before {
  position: absolute;
  padding: 30px 17px; }

