﻿.main-header .logo {
  font-size: 21px !important; }
  .main-header .logo:hover {
    color: white; }

.main-header .toggle {
  display: flex;
  float: left;
  padding: 23px;
  padding-left: 0px;
  vertical-align: middle;
  line-height: 32px;
  align-items: center; }
  .main-header .toggle:hover {
    color: white; }

/*sidebar*/
#tn-toggle-sidebar {
  display: flex;
  text-decoration: none;
  cursor: pointer; }

/*sidebar-end*/
/*extra*/
.display-none {
  display: none !important; }

/*extra end*/

