﻿.main-header{
    .logo{
        font-size:21px !important;
        &:hover{
            color:white;
        }
    }
    .toggle{
        display:flex;
        float:left;
        padding:23px;
        padding-left:0px;
        vertical-align:middle;
        line-height:32px;
        align-items:center;
        &:hover{
            color:white;
        }
    }
}

/*sidebar*/
#tn-toggle-sidebar {
    
    display: flex;
    
    
    text-decoration: none;
    cursor: pointer;
}
.tn-body-content-toggle {
    
}
/*sidebar-end*/

/*extra*/
.display-none{
    display:none !important;
}
/*extra end*/