﻿@{
    ViewBag.title = "About this sample application";

}

@Styles.Render("~/Content/about.css")

<div>
    <h1>OAGN - Circular Application</h1>
    <p>This application is for OAGN circular</p>
</div>

<div>
    <h2>Built with Latest technology</h2>   
</div>


