﻿@model TelerikMvcWebMail.EFModels.EmailCircular

@{
    ViewBag.Title = "New E-mail";
}

@Styles.Render("~/Content/new.css")

<div class="wrapper">
    @(Html.Kendo().TabStrip()
                .Name("tabstrip")
                .Items(tabstip =>
                    {
                        tabstip.Add().Text("EMAIL")
                            .Selected(true)
                            .Content(@<text>
                                <div class="toolbar">
                                    @(Html.Kendo().Menu()
                                    .Name("newMailButtons")
                                    .Items(items =>
                                    {
                                        items.Add()
                                            .Text("Send");
                                        items.Add()
                                            .Text("Save").Action("Create", "Home")
                                            .HtmlAttributes(new { type = "submit" });
                                        items.Add()
                                            .Text("Cancel");

                                    })

                                    @*.Events(e => e.Select("newMailMenuSelect"))
                                    )
                                    @(Html.Kendo().Dialog()
                                    .Name("newMailDialog")
                                    .Visible(false)
                                    .Title("")
                                    .MaxWidth(400)
                                    .Title("Circular Application")
                                    .Actions(actions =>
                                    {
                                        actions.Add().Text("OK").Primary(true);
                                    })*@
                                    )
                                </div>
                                <div class="inner-section">
                                    <div class="form-wrapper">
                                        @Html.Label("newMailSender", "From", new { @class = "form-label" })
                                        @(Html.Kendo().DropDownList()
                                        .Name("newMailSender")
                                        .BindTo(new List<SelectListItem>() {
                                            new SelectListItem() {
                                                Text = "admin@example.com",
                                                Value = "1"
                                            }
                                        })
                                        .Value("1")
                                        .HtmlAttributes(new { style = "width: 100%;" })
                                        )
                                    </div>
                                    <br /> <br /> <br /><br />
                                    @Html.Label("to-textbox", "To", new { @class = "form-label" })
                                    @(Html.Kendo().MultiSelect()
                                    .Name("to-textbox")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .DataSource(ds => ds.Read("ContactsMails", "Contacts"))
                                    .Value(ViewBag.MailTo)
                                    )

                                    @Html.Label("ref-no-textbox", "Refference Number", new { @class = "form-label" })
                                    @(Html.Kendo().TextBoxFor(m=>m.RefNo)
                                        .HtmlAttributes(new { @class = "k-input long-textbox", style = "width: 100%;" })
                                    )

                                    @Html.Label("dispatch-textbox", "Dispatch Number", new { @class = "form-label" })
                                    @(Html.Kendo().TextBoxFor(m=>m.DispatchNo)
                                        .HtmlAttributes(new {@class= "k-input long-textbox", style = "width: 100%;" })
                                    )

                                   
                                        @Html.Label("date-date", "Date", new { @class = "form-label" })
                                        @(Html.Kendo().DatePickerFor(m => m.Date)
                                                .HtmlAttributes(new { @class = "k-input", style = "width:200px" })
                                        )
                                    

                                   

                            @Html.Label("subject-textbox", "Subject", new { @class = "form-label" })
                                    @(Html.Kendo().TextBoxFor(m => m.Subject)
                                            .HtmlAttributes(new { @class = "k-input", style = "width:200px" })
                                    )
                            
                                    
                                    <div class="attachements-line">
                                        @Html.Label("files", "Attachments", new { @class = "form-label" })
                                        @(Html.Kendo().Upload()
                                        .Name("files")
                                        .Async(a => a
                                            .Save("Save", "Upload")
                                            .Remove("Remove", "Upload")
                                            .AutoUpload(true)
                                        )
                                        .Messages(m => m
                                            .Select("Add files ...")
                                            .DropFilesHere("Drop files here to upload")
                                        )
                                        )
                                    </div>
                                   

                                    @(Html.Kendo().EditorFor(m=>m.Content)
                                   
                                    .HtmlAttributes(new { style = "height: 500px;" })
                                    )
                                </div>
                            </text>);
                        @*tabstip.Add().Text("EMAIL")
                            
                            .Content(@<text>
                                 <div class="toolbar">
                                @(Html.Kendo().Menu()
                                    .Name("newMailButtons")
                                    .Items(items =>
                                    {
                                        items.Add()
                                            .Text("Send");
                                        items.Add()
                                            .Text("Save");
                                        items.Add()
                                            .Text("Cancel");
                                    })
                                    .Events(e => e.Select("newMailMenuSelect"))
                                    )
                                     @(Html.Kendo().Dialog()
                                    .Name("newMailDialog")
                                    .Visible(false)
                                    .Title("")
                                    .MaxWidth(400)
                                    .Title("Circular Application")
                                    .Actions(actions =>
                                    {
                                        actions.Add().Text("OK").Primary(true);
                                    })
        )
    </div>
                            </text>);*@
                    }
                )
)
</div>

   