﻿

@model TelerikMvcWebMail.EFModels.EmailCircular

<div class="contact-edit-view k-widget">

    @Styles.Render("~/Content/new.css")

    <h2 class="form-title"><span class="action">Create New</span> Contact</h2>
    <div class="forms-panel">
        @Html.HiddenFor(Model => Model.Id)
     
        @Html.Label("Id", "Id", new { @class = "form-label" })
        @(Html.TextBoxFor(Model => Model.Id, new { @class = "k-textbox" }))
        <span data-for="ProductName" class="k-invalid-msg"></span>
        @Html.Label("RefNo", "RefNo", new { @class = "form-label" })
        @(Html.TextBoxFor(Model => Model.RefNo, new { @class = "k-textbox" }))
        <span data-for="ProductName" class="k-invalid-msg"></span>
        @Html.Label("Source", "Source", new { @class = "form-label" })
        @(Html.TextBoxFor(Model => Model.Source, new { @class = "k-textbox" }))
        @Html.Label("Subject", "Subject", new { @class = "form-label" })
        @(Html.TextBoxFor(Model => Model.Subject, new { @class = "k-textbox" }))
        @Html.Label("UpdatedBy", "UpdatedBy", new { @class = "form-label" })
        @(Html.TextBoxFor(Model => Model.UpdatedBy, new { @class = "k-textbox" }))
        @Html.Label("UpdatedDate", "UpdatedDate", new { @class = "form-label" })
        @(Html.TextBoxFor(Model => Model.UpdatedDate, new { @class = "k-textbox" }))
        @Html.Label("Source", "Source", new { @class = "form-label" })
        @(Html.TextBoxFor(Model => Model.Source, new { @class = "k-textbox" }))
    </div>
   
    <div class="form-buttons">
        <button type="button" class="k-button k-primary k-update-button" href="\\#">Save</button>
        <button type="button" class="k-button k-cancel-button" href="\\#">Cancel</button>
    </div>
</div>