﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - OAGN Circular Application</title>
    <!--GoogleAnalytics tracking script-->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-111455-1']);
        _gaq.push(['_setDomainName', '.telerik.com']);
        _gaq.push(['_addIgnoredRef', 'telerik.com']);
        _gaq.push(['_trackPageview']);
        (function ()
        {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        function trackPage(page)
        {
            _gaq.push(['_trackPageview', page]);
        }
    </script>
    <link type="image/x-icon" href="~/favicon-progress.ico" rel="shortcut icon">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
   	@*<link href="@Url.Content("~/Content/kendo/2017.2.504/kendo.common.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2017.2.504/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2017.2.504/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2017.2.504/kendo.metro.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2017.2.504/kendo.dataviz.metro.min.css")" rel="stylesheet" type="text/css" />*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://kendo.cdn.telerik.com/2017.2.504/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="http://kendo.cdn.telerik.com/2017.2.504/styles/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="http://kendo.cdn.telerik.com/2017.2.504/styles/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="http://kendo.cdn.telerik.com/2017.2.504/styles/kendo.metro.min.css" rel="stylesheet" />
    <link href="http://kendo.cdn.telerik.com/2017.2.504/styles/kendo.dataviz.metro.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link href="~/Content/master.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @RenderSection("PageStyles", false)
    @RenderSection("PageStylesPartial", false)
    @RenderSection("Scripts", false)

    	@*<script src="@Url.Content("~/Scripts/kendo/2017.2.504/jquery.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2017.2.504/jszip.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2017.2.504/kendo.all.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2017.2.504/kendo.aspnetmvc.min.js")"></script>*@
   <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script src="http://kendo.cdn.telerik.com/2017.2.504/js/jquery.min.js"></script>
   
    <script src="http://kendo.cdn.telerik.com/2017.2.504/js/jszip.min.js"></script>

    <script src="http://kendo.cdn.telerik.com/2017.2.504/js/kendo.all.min.js"></script>
    <script src="http://kendo.cdn.telerik.com/2017.2.504/js/kendo.aspnetmvc.min.js"></script>
    <script src="http://kendo.cdn.telerik.com/2017.2.504/js/kendo.timezones.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.3/js.cookie.min.js"></script>
    <script src="http://kendo.cdn.telerik.com/2017.2.504/js/pako_deflate.min.js"></script>
</head>

<body>
    <div id="BaseUrl" data-baseurl="@Context.Request.Url.GetLeftPart(UriPartial.Authority)@Url.Content("~/")"></div>
    @Scripts.Render("~/Scripts/layout.js")

    <script id="button-template" type="text/x-kendo-template">
    </script>
    <script id="tooltip-template" type="text/x-kendo-template">
        <div class="image-wrapper">
            <img src="" class="fa fa-user" style="border-radius: 100%" />
        </div>
        <p class="name">Mahesh Sunuwar</p>
        <p>admin@example.com</p>
        @(Html.Kendo().Button()
            .Name("signInButton")
            .HtmlAttributes(new { @class = "k-primary" })
            .Content("Sign Out")
            .Events(ev => ev.Click("onClick"))
            .ToClientTemplate()
        )
    </script>
    <script type="text/kendo-ui" id="menu-item-template">
        <span>
            <img src='' class="fa fa-user" />
        </span>
    </script>
    <header class="main-header">
        <a href="@Url.Action("Index", "Home")" title="Go to Circular">
            <h1 class="logo">
                OAGN Circular
            </h1>
        </a>
        <a href="#" class="toggle" id="tn-toggle-sidebar">
            <i class="fa fa-bars "></i>
        </a>
        
        @(Html.Kendo().Menu()
                .Name("mainMenu")
                .Items(items =>
                {
                    items.Add().Text("Circular").Action("Index", "Circular");
                    items.Add().Text("Mail").Action("Index", "Home");
                    items.Add().Text("Users").Action("Index", "Contacts");
                   
                    items.Add().Text("<span class='image-wrapper'><img src='http://demos.telerik.com/kendo-ui/content/web/Customers/PICCO.jpg'/><span/>").Encoded(false);
                })
        )

        @(Html.Kendo().Tooltip()
                .For("#mainMenu > li:last")
                .ShowOn(TooltipShowOnEvent.Click)
                .AutoHide(false)
                .ContentTemplateId("tooltip-template")
        )
     
    </header>
    <content class="main-content tn-body-content">
        @RenderBody()
    </content>
   
    <script src="~/Scripts/master.js"></script>
    
</body>
</html>