﻿@model WebApplication.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}
    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link type="image/x-icon" href="~/favicon-progress.ico" rel="shortcut icon">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://kendo.cdn.telerik.com/2017.1.118/styles/kendo.common.min.css" rel="stylesheet" />
        <link href="http://kendo.cdn.telerik.com/2017.1.118/styles/kendo.mobile.all.min.css" rel="stylesheet" />
        <link href="http://kendo.cdn.telerik.com/2017.1.118/styles/kendo.dataviz.min.css" rel="stylesheet" />
        <link href="http://kendo.cdn.telerik.com/2017.1.118/styles/kendo.metro.min.css" rel="stylesheet" />
        <link href="http://kendo.cdn.telerik.com/2017.1.118/styles/kendo.dataviz.metro.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link type="text/css" href="~/Content/signIn.css" rel="stylesheet" />

        <script src="http://kendo.cdn.telerik.com/2017.1.118/js/jquery.min.js"></script>
        <script src="http://kendo.cdn.telerik.com/2017.1.118/js/kendo.all.min.js"></script>
        <script src="http://kendo.cdn.telerik.com/2017.1.118/js/kendo.aspnetmvc.min.js"></script>
        <script src="http://kendo.cdn.telerik.com/2017.1.118/js/kendo.timezones.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.3/js.cookie.min.js"></script>
        @Scripts.Render("~/Scripts/sign-in.js")
    </head>
    <body>
        <div class="sidebar">
            <div class="header">
                <a href="@Url.Action("Index", "Home")" title="Go to OAGN">
                    <h1>OAGN</h1>
                    <p>OAGN Circular App</p>
                </a>
            </div>
            <div class="footer">
                <p>
                    Copyright &copy; @DateTime.Now.Year
                    <br />
                    Office of the Auditor General, Nepal
                </p>
                <p>
                    All Rights Reserved.
                </p>
            </div>
        </div>
        <div class="content">
            <h2>@ViewBag.Title</h2>
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                @Html.TextBoxFor(m => m.UserName, new { @class = "k-input" })

                @Html.LabelFor(m => m.Password, new { @class = "" })
                @Html.PasswordFor(m => m.Password, new { @class = "k-input" })

                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "" })

                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "k-input" })



                @Html.Label("user Role", new { @class = "" })


                @Html.DropDownList("UserRoles", (SelectList)ViewBag.Name, " ", new { @class = "k-input" })
                <br />
                <button type="submit" class="k-primary">Register</button>
            }

        </div>

        @(Html.Kendo().Window()
        .Name("aboutWindow")
        .Title("")
        .Content("loading...")
        .Iframe(false)
        .Modal(true)
        .LoadContentFrom("About", "Home")
        .Actions(actions => actions.Close())
        .Draggable(true)
        .Visible(false)
        )
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }


    </body>
</html>


